<h2>Channels in Group {{ groupName }}:</h2>

<ul class="list-group">
    <li class="list-group-item" *ngFor="let channel of channels">
        <a routerLink="/chat/{{ channel._id }}">
      {{ channel.name }}
    </a>

        <button type="button" class="btn btn-primary" title="edit user" (click)="edit(channel)">
      Edit
    </button> &nbsp;
        <button type="button" class="btn btn-primary" title="delete user" (click)="delete(channel)">
      Delete
    </button>
    </li>
</ul>

<div>
    <!-- <label><h3>Add new user into group</h3></label> -->
    <br />
    <label>Channel name:
    <input #channelName />
  </label>
    <br />
    <!-- (click) passes input value to add() and then clears the input -->
    <button type="button" class="btn btn-primary" (click)="add(channelName.value); channelName.value = ''">
    Add
  </button>
</div>